<%= render layout: 'user' do %>
  <h4>Total <%= @type %> events: <%= @events_count %></h4>
  <br>
  <div id="user_events_wrapper">
    <% if @events.present? %>
      <%= render partial: 'user_events', locals: { user: @user, events: @events, type: @type, page: @page } %>
    <% end %>
  </div>
<% end %>