<%= render layout: 'user' do %>
  <h4>Total <%= @type %> events: <%= @events.length %></h4>
  <br>
  <% @events.each do |event| %>
    <%= render partial: 'events/event_thumb', locals: { event: event, status: @type} %>
  <% end %>
<% end %>