<div class="panel panel-default">
  <div class="panel-heading"> <%= event.title %> </div>
  <div class="panel-body">
    <%= render partial: 'events/event_content', locals: { event: event } %>
    <%  
      if status == 'reserved' 
        label_class = 'label-info' 
      else 
        label_class = 'label-success' 
      end 
    %>
    <h3> <span class="label <%= label_class %>"> <%= status %></span> </h3>
  </div>
</div>