
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
  <h4 class="modal-title" id="myModalLabel"><%= event.title %></h4>
</div>
<div class="modal-body">
  <%= render partial: 'event_content', locals: { event: event } %>
</div>
<div class="modal-footer">
  <div class='button-groups'>
    <%= render partial: 'event_buttons', locals: { event: event } %>
    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
  </div>
</div>
 