
<!-- The Bootstrap Image Gallery lightbox, should be a child element of the document body -->
<div id="row">
  <h3> Photos </h3>
  <% if @images.present? %>
    
      <% @images.each do |image| %>
        <div class="center-cropped"  style="background-image: url('<%= image.file.url(:large) %>');">
          <%= link_to "", image.file.url(:large) %> 
        </div>
      <% end %>
    </div>
  <% else %>
    <h2> This event has no photo <h2>
  <% end %>
</div>

<style>
.center-cropped {
    width: 200px;  
    height: 200px; 
    background-position: center center;
    background-repeat: no-repeat;
    display: inline-block;
}
</style>