
<div id='event-block'>

  <div class='row'>
    <h1><%= @event.title %> <small style="display: block; margin-top: 5px;"> <%= @event.category.name %> </small> </h1>
  </div>

  <div class="row">
    <%= render partial: 'event_content', locals: { event: @event } %>
  </div>

  <div class="row">
    <div class='button-groups'>
      <%= render partial: 'event_buttons', locals: { event: @event } %>
    </div>
  </div>
</div>
