<div id="static-text-wrapper">
  <div id="contact-box">        
    <iframe frameborder="0" height="420px" scrolling="no" src="http://www.foxyform.com/form.php?id=523206&amp;sec_hash=a4b9bcc723e" style="border: none;" width="500px"></iframe>
  </div>
</div>