<% provide(:title, 'contribute') %>
<div id="static-text-wrapper">
  <h1>Get Involved Today</h1>
  <br>
  <p><%= link_to "I have FOOD I want to Donate", page_path('donate-food'), class: "rlc-button contribute-button btn btn-success text-center" %> </p>
  <p>Rescuing Leftover Cuisine is committed to serve the community and help those in need with the necessity in life – food. We encourage all food providers to partner with us and work towards making our community a better place. A partnership with RLC also bring many benefits. Click to learn more.</p>
  <br>

  <p><%= link_to "I have FUNDS I want to Donate", page_path('donate-funds'), class: "rlc-button contribute-button btn btn-success text-center" %></p>
  <p>Donations play a crucial part in helping Rescuing Leftover Cuisine grow. We are dedicated to solving hunger in the most efficient manner. With a small donation, you can make a huge impact to reduce food insecurity and eliminate food waste. Donors can rest assured that their money is put to immediate use to help provide food for those in need.</p>
  <br>

  <p><%= link_to "I am a VOLUNTEER", page_path('volunteer'), class: "rlc-button contribute-button btn btn-success text-center" %></p>
  <p>Rescuing Leftover Cuisine always welcomes volunteers who want to donate their time to helping feed the local hungry. Click to learn more about how we make volunteering effortless and time efficient.</p>
  <br>
</div>