<div id="static-text-wrapper">

<h1>Contributors to Rescuing Leftover Cuisine</h1>

<br/>

<p>Contributors in the form of in-kind donors and sponsorships help Rescuing Leftover Cuisine, Inc. grow beyond the limits of our budget and allow us to accomplish our goal of committing 100% of public donations to rescuing food. They are crucial to our productivity and advancement of our mission. We sincerely thank our contributors who surprise us with their generosity.</p>
<br/>

<div class="row">
  <div class="box-wrapper">
    <div class="col-md-6">
      <div class="box contributor-box">
        <div class="contributor-logo" > <%= image_tag "podio_logo.png", width: "200" %> </div>
        <p>With the help of Podio our team stays on top of our projects. Thanks to Podio for helping us meet our goals and communicate with our co-workers efficiently.</p>
      </div>
    </div>
    <div class="col-md-6">
      <div class="box contributor-box">
        <div class="contributor-logo google-logo" > <%= image_tag "google_logo.png", width: "200" %> </div>
        <p>Thanks for Google Apps for Nonprofits! Love G-Mail.</p>
      </div>
    </div>
  </div>
</div>


</div>