<div id="static-text-wrapper">
  <h1>Donate Food</h1>
  <br>
  <p>
    Rescuing Leftover Cuisine Inc. works with very diverse food providers in the NYC community, including restaurants, universities, catering companies and grocers. Our partners all share a similar vision – to eliminate food waste and reduce food insecurity in our community. We work diligently with each partner to ensure schedule flexibility and seamless execution. All food donated is distributed to homeless shelters and rescue missions in New York City. Currently, we deliver to New York City Rescue Mission and The Bowery Mission.
  </p>
  <br>
  <h3>Why Partner With Us?</h3>
  <br>
  <p>
    Rescuing Leftover Cuisine is committed to serve the community and help those in need with the most basic necessity in life – food. We encourage all food providers to partner with us and work towards making the world a more sustainable and better place.
  </p>
  <br>
  <p>
    RLC uses a unique direct food rescue program that enchances flexibility and reduces delivery costs, allowing us to pick up food without any minimum weight requirements. It also minimizes carbon emissions from vehicles and transports food in the most environmentally-friendly way.
  </p>

  <div class="box-wrapper">
    
    <div class="row">
        <div class="col-sm-12">
          <div class="box text-center">
            <br>
            <h3>How to Partner With Us</h3>
            <br>
            <p>
              Simply e-mail us today with the name of your organization, an estimate of the amount and type of food you have leftover and we can begin to talk about delivery logistics. We can work with irregular or ad hoc schedules and do not impose minimum weight requirements for pick up.
            </p>
            <br>
            <%= link_to "BECOME A PARTNER", "mailto:info@rescuingleftovercuisine.org", id: "become-member-button", class: "rlc-button btn btn-success text-center" %>
          </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-6">
        <div class="box donate-food-text-block">
          <p>Benefits of Partnership</p>
          <br>
          <ul>
            <li>
              Potential Tax Savings.<br> 
              IRC Section 170(e)(3) encourages donations with enhanced tax deduction which can reduce the after-tax cost of surplus food by 59%!
            </li>
            <li>
              Brand association.<br> 
              Our partners are associated with our non-profit mission. They may also choose to be marketed on our website and Facebook page, be proud sponsors of our special events and more!
            </li>
            <li>
              Food Waste Management
            </li>
            <li>
              Waste management cost savings.<br>
              Companies spend on average $15.89 per cubic yard of loose refuse. Restaurants and other food providers can save over $1,080 of average waste cost savings per year if it partners with us.
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="box donate-food-text-block">
          <p>Protecting Our Partners</p>
          <br>
          <p>To encourage companies and organizations to donate food that would otherwise go to waste, on October 1, 1996, President Bill Clinton signed The Federal Bill Emerson Good Samaritan Food Donation Act which protects organizations from liability when they donate to non-profit organizations. The Act also protects them from civil and criminal liability should the product donated in good faith later cause harm to the recipient. </p>
          <br>
          <p>In addition, Rescuing Leftover Cuisine also executes Hold Harmless and Indemnity Agreements that protect, indemnify, defend and hold harmless our partners and their respective employees and volunteers against all claims or damages.</p>
        </div>
      </div>
    </div>

  </div>
  

</div>