<div id="static-text-wrapper">
  <h1>Donate Funds</h1>
  <h2>Together, we can ensure that only hunger is left behind.</h2>

  <br/>
  <p>With an average delivery cost of just 2 cents per pound, RLC is the industry leader on a cost basis. Every dollar therefore goes a very long way and every penny of your donation will be used to save more food and create additional meals for the hungry. </p>
  <br/>
  <p>Unlike other food rescues, we never turn down food donations because of minimum food weight requirements or difficult ad hoc schedules. Your donation will be used to help us further our goals of catching all the edible food that is currently being wasted. We work hard to deliver this edible cuisine to homeless shelters and soup kitchens so that the hungry do not have to live day to day wondering when their next meal will be. </p>
  <br/>
  <p>Ending food hunger is an achieveable goal. Saving just 30% of wasted food can eliminate food insecurity in the United States, and we need your help to do this. Donate and join us to ensure that only hunger is left behind. </p>


  <div class="row">
    <div class="box-wrapper">
      <div class="col-md-6">
        <div class="box donate-funds-box">
          <div class="donate-funds-title" > By PayPal: </div>
          <p>
            <form action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
            <input type="hidden" name="cmd" value="_s-xclick">
            <input type="hidden" name="hosted_button_id" value="WMM77LWM84M5Q">
            <input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" alt="PayPal - The safer, easier way to pay online!">
            <img alt="" border="0" src="https://www.paypalobjects.com/en_US/i/scr/pixel.gif" width="1" height="1">
            </form>
          </p>
        </div>
      </div>
      <div class="col-md-6">
        <div class="box donate-funds-box">
          <div class="donate-funds-title" > By Check: </div>
          <div class="donate-funds-description">
              <h4>Made out to: </h4>
              Rescuing Leftover Cuisine, Inc. 
            

              <h4>Mailed to Address: </h4>
      
              Rescuing Leftover Cuisine<br>
              4009 149th Place Rm 2B<br>
              Flushing, NY 11354<br>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>