<div id="static-text-wrapper">
  <h2 class="color-text text-center"> In 2010 America threw out 33.79 million tons of food, while 17.2 million US households, nearly 50 million people, were food insecure.  </h2>

  <div class="box-wrapper">
    <%= image_tag "food_hunger_info.jpg", style: "width: 100%; margin: auto;" %>
  </div>
</div>