

<section class="jumbo" id="mission">
  <div class="inner">
    <div class="container">
      <div class="table-wrapper">
        <div class="img">
          <%= image_tag('RLC_LOGO.png') %>
        </div>
        <!-- /.img -->
        <div class="text">
          <h1>WHAT WE DO</h1>
          <p>We’re a non-profit organization on a mission to redefine food rescue and end food waste.</p>
          <section class="row section2">
            <div class="left col-md-6">
              <div class="orange-line"></div>
              <h3>Urban Hunger</h3>
              <p>1 in 7 Americans face food insecurity. 14.5% of households, or 49 million Americans, were hungry, or at risk of hunger, in 2012.</p>
            </div>
            <!-- /.left -->
            <div class="right col-md-6">
              <div class="green-line"></div>
              <h3>Food Waste</h3>
              <p>40% of United States produce is wasted uneaten and sent to landfills. Each year, Americans waste 33 million tons of food, totaling up to $161.6 billion in 2010.</p>
            </div>
            <!-- /.right -->
          </section>
          <!-- /.section2 -->
        </div>
        <!-- /.text -->
      </div>
      <!-- /.table-wrapper -->
    </div>
    <!-- /.container -->
  </div>
  <!-- /.inner -->
</section>
<!-- /.jumbo -->


<section class="main-section green" id="schedule">
  <div class="left">
    <div class="inner-container">
      <h1>Become a Rescuer</h1>
      <br>

      <p>Rescuers help bring food from our partners to a local NYC homeless shelter. It takes less than an hour and you can set your own schedule, whether you want to help out daily, weekly, or sporadically.
      </p>
      <br>

      <p>
      2 BILLION PEOPLE could be fed yearly with the amount of food America throws away each year – that is enough to end food hunger in the world. Be a part of the solution and join us and other rescuers to help deliver excess food to those who need it.
      </p>
      <br>

      <p><%= link_to "Sign Up with RLC", new_user_registration_path , class: "rlc-button contribute-button btn btn-success text-center" %></p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      <iframe src="https://www.google.com/calendar/embed?src=c7hicosufi768rsbm8e941l1ligg5lqv%40import.calendar.google.com&ctz=America/Los_Angeles" style="border: 0" width="100%" height="400" frameborder="0" scrolling="no"></iframe>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.green -->

<section class="main-section yellow" id="partner">
  <div class="left">
    <div class="inner-container">
      <h1>Become a Partner</h1>
      <br>
      <p>Benefits of Partnership</p>
          <ul>
            <li>
              Potential Tax Savings<br>
            </li>
            <li>
              Brand association<br> 
            </li>
            <li>
              Food Waste Management
            </li>
            <li>
              Waste management cost savings<br>
            </li>
          </ul>
      <p>Protecting Our Partners</p>
          <p>To encourage companies and organizations to donate food that would otherwise go to waste, The Federal Bill Emerson Good Samaritan Food Donation Act protects organizations from liability when they donate to non-profit organizations. The Act also protects them from civil and criminal liability should the product donated in good faith later cause harm to the recipient. </p>
          <br>
          <p>RLC also executes Hold Harmless and Indemnity Agreements that protect, indemnify, defend and hold harmless our partners and their respective employees and volunteers against all claims or damages.</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="name" class="form-control" id="name" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="email" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email" class="form-control" id="email" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="org" class="col-sm-3 control-label">Organization</label>
          <div class="col-sm-9">
            <input type="name" class="form-control" id="org" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="message" class="col-sm-3 control-label">Message</label>
          <div class="col-sm-9">
            <textarea name="" class="form-control" id="message" cols="30" rows="5"></textarea>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Send</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.yellow -->

<section class="main-section red" id="donate">
  <div class="left">
    <div class="inner-container">
      <h1>Donate</h1>
      <p>Support us by donating!</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      <form class="form-horizontal">
        <div class="form-group">
          <label for="name2" class="col-sm-3 control-label">Name</label>
          <div class="col-sm-9">
            <input type="name2" class="form-control" id="name" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="email2" class="col-sm-3 control-label">Email</label>
          <div class="col-sm-9">
            <input type="email2" class="form-control" id="email" placeholder="">
          </div>
        </div>
        <div class="form-group">
          <label for="org" class="col-sm-3 control-label">Options</label>
          <div class="col-sm-9">
            <select name="" id="" class="form-control">
              <option value="">$10</option>
              <option value="">$100</option>
              <option value="">$200</option>
            </select>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-3 col-sm-9">
            <button type="submit" class="btn btn-default">Donate</button>
          </div>
        </div>
      </form>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.red -->

<section class="main-section blue" id="team">
  <div class="left">
    <div class="inner-container">
      <h1>History</h1>
      <p>Founded on July 3, 2013, Rescuing Leftover Cuisine leverages the experience that the two co-founders have gained over the four years of leading a food rescue at their university. The co-founders, Robert Lee and Louisa Chen were both part of a university organization called Two Birds One Stone, which delivered leftover dining hall food on campus to homeless shelters. Throughout this time, the two have learned best practices of operations in delivering food, fostered relationships with key partners within the industry, and honed volunteer management skills.</p>
      <p>After serving on the Executive Board as President and Vice President respectively, Robert and Louisa decided that the mission of rescuing leftover cuisine should not – and would not – end neither at the end of their college careers nor at the geographical edges of their university grounds.</p>
      <p>To date, RLC has delivered over 10,000 pounds of food in New York City with a negligible delivery cost of just 2 cents a pound making us one of the most efficient systems attempting to end hunger and food waste.</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      <div class="row member">
        <div class="col-xs-3">
          <img src="/assets/Robert.jpg" class="img-responsive" alt="">
        </div>
        <!-- /.col-xs-3 -->
        <div class="col-xs-9">
          <p>
            <strong>ROBERT LEE - Co-Founder & Chief Executive Officer</strong><br>
            Robert Lee is a Gates Millennium Scholar who graduated cum laude from New York University. Coming from a humble background, he is committed to doing all he can to help those in need. At NYU, Mr. Lee worked on a small new club called Two Birds One Stone which delivers leftover dining hall food to homeless shelters. 
          </p>
        </div>
        <!-- /.col-xs-9 -->
      </div>
      <!-- /.row member -->
      <div class="row member">
        <div class="col-xs-3">
          <img src="/assets/Louisa.jpg" class="img-responsive" alt="">
        </div>
        <!-- /.col-xs-3 -->
        <div class="col-xs-9">
          <p>
            <strong>LOUISA CHEN - Co-Founder & Chief Operating Officer</strong><br>
            Louisa graduated from New York University in 2013 with a Bachelor of Arts degree in Politics, cum laude. While at NYU, Louisa served on the executive board of Two Birds One Stone, an organization which distributed leftover dining hall food to local homeless shelters. There she introduced means of measuring impact, streamlined deliveries and fostered relationships within the industry. Inspired by the club’s impact, Ms. Chen entered and won seed funding in a social entrepreneurship competition at NYU with Mr. Lee and together launched Rescuing Leftover Cuisine as a non-profit organization upon graduation.
          </p>
        </div>
        <!-- /.col-xs-9 -->
      </div>
      <!-- /.row member -->
      <div class="row member">
        <div class="col-xs-3">
          <img src="/assets/Paul.png" class="img-responsive" alt="">
        </div>
        <!-- /.col-xs-3 -->
        <div class="col-xs-9">
          <p>
            <strong>PAUL SUN - Chief Financial Officer</strong><br>
            Paul Sun is a finance professional with experience in private equity and investment banking advisory across a broad range of industries. Currently, Mr. Sun is a private equity associate focusing on leveraged buyouts in the manufacturing, services and specialty consumer industries. Prior to that, Mr. Sun was an investment banking analyst in which he focused on advisory work and financing solutions for leveraged buyouts, mergers and acquisitions, recapitalizations and debt financings in the consumer, healthcare, energy and technology sectors. Mr. Sun was elected to Beta Gamma Sigma and received a B.S., magna cum laude, in Finance and Accounting from the Leonard N. Stern School of Business at New York University.

          </p>
        </div>
        <!-- /.col-xs-9 -->
      </div>
      <!-- /.row member -->
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.blue -->

<section class="main-section orange" id="thanks">
  <div class="left">
    <div class="inner-container">
      <h1>Special Thanks</h1>
      <p>Contributors in the form of in-kind donors and sponsorships help Rescuing Leftover Cuisine, Inc. grow beyond the limits of our budget and allow us to accomplish our goal of committing 100% of public donations to rescuing food. They are crucial to our productivity and advancement of our mission. We sincerely thank our contributors who surprise us with their generosity.</p>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.left -->
  <div class="right">
    <div class="inner-container">
      <div class="contributor-logo" > <%= image_tag "podio_logo.png", width: "200" %> </div>
        <p>With the help of Podio our team stays on top of our projects. Thanks to Podio for helping us meet our goals and communicate with our co-workers efficiently.</p>
      </div>

      <div class="contributor-logo google-logo" > <%= image_tag "google_logo.png", width: "200" %> </div>
        <p>Thanks for Google Apps for Nonprofits! Love G-Mail.</p>
      </div>
    </div>
    <!-- /.inner-container -->
  </div>
  <!-- /.right -->
</section>
<!-- /.orange -->