<div id="static-text-wrapper">
  <div class="row">
    <div class="col-sm-12">
      <h2 class="text-center"> RLC Rescuer Policy </h2>
      <br>
      <p>
        Thank you for helping Rescuing Leftover Cuisine, Inc. (“RLC”) to achieve its mission of making food hunger a thing of the past! Rescuers, the volunteers of RLC, contribute to alleviating food waste and food hunger by helping to deliver food from our partners to those in need. 
      </p>
      <br>

      <p>
        Please note that by volunteering with RLC you accept and agree to this Policy. 
      </p>
      <br>

      <p>
        You certify that the personal information you used to register for an account on RLC’s website, <%= link_to 'www.rescuingleftovercuisine.org', root_url %>, is true, complete, correct, and you understand that if it is not, you will be disqualifying yourself for volunteer and future positions with RLC. You may not impersonate another individual.
      </p>
      <br>

      <p>
        <strong>Release from Liability </strong><br>
        You acknowledge and agree that as a volunteer for RLC, you will not receive any monetary compensation or other form of remuneration from RLC. You agree to hold harmless and hereby indemnify RLC, its officers, directors, employees and/or representatives from any and all liability, claims, and demands of whatever kind or nature, either in law or in equity, which arise or may hereafter arise from the volunteer services you provide to RLC. You understand and acknowledge that this Release discharges RLC from any liability or claim that you may have if through the course of your volunteer work with RLC, you become injured, ill or require medical treatment.
      </p>
      <br>

      <p>
        <strong>Confidentiality </strong><br>
        You acknowledge that in the course of your service to RLC, you may have access to or create confidential and/or proprietary information and intellectual property that is of value to RLC. As a volunteer, you understand that are in a position of trust and confidence and agree not to disclose confidential information and intellectual property belonging to, or obtained through your affiliation with Rescuing Leftover Cuisine, Inc. to any other person or entity.
      </p>
      <br>

      <p>
        <strong>Ownership</strong><br>
        You also grant and convey to RLC all right, title, and interests in any and all works, including but not limited to all photographs, videos and other forms of media taken and/or produced by you in connection with the providing of services to RLC.
      </p>
      <br>
      
      <p>
        <strong>Information and Media Release</strong><br>
        You understand that you may be photographed during the course of your volunteer activity. You hereby grant full and unlimited permission to RLC to use photographs, videos or other record of you for promotion, publicity, or other purposes, with or without identification of you by name. 
      </p>
      <br>

    </div>
  </div>
</div>