<div id="static-text-wrapper">

  <div class="team-pic"> 
    <%= image_tag 'team.jpg', style: "width: 100%; margin: auto;" %>
  </div>

  <div class="box-wrapper">
    <div class="box">
      <div class="row">
        <div class="col-sm-12">
          <div href="#" class="thumbnail">
            <div class="row">
              <div class="col-sm-2">
                <div class>
                  <%= image_tag 'Robert.jpg' %>
                </div class>
              </div>
              <div class="col-sm-10">
                <div class="member-name"> <strong>ROBERT LEE</strong> </div>
                <div class="member-title"> Co-Founder & Chief Executive Officer</div>
                <hr/>
                <p> Robert Lee is a Gates Millennium Scholar who graduated cum laude from New York University. Coming from a humble background, he is committed to doing all he can to help those in need. At NYU, Mr. Lee worked on a small new club called Two Birds One Stone which delivers leftover dining hall food to homeless shelters. Over the four years that Mr. Lee was a part of this organization, he learned best practices of operations in delivering food, fostered relationships within the industry, and honed volunteer management skills. During Mr. Lee’s three years as president, he has helped the organization receive the NYU Green Grant for the best green initiative on campus and led volunteers to deliver over 12,000 pounds of food. After graduating, Mr. Lee continues his passion of helping the hungry and reducing food waste by co-founding Rescuing Leftover Cuisine, Inc. </p>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm-12">
          <div href="#" class="thumbnail">
            <div class="row">
              <div class="col-sm-2">
                <div class>
                  <%= image_tag 'Louisa.jpg' %>
                </div class>
              </div>
              <div class="col-sm-10">
                <div class="member-name"> <strong>LOUISA CHEN</strong> </div>
                <div class="member-title"> Co-Founder & Chief Operating Officer</div>
                <hr/>
                <p> Louisa graduated from New York University in 2013 with a Bachelor of Arts degree in Politics, cum laude. While at NYU, Louisa served on the executive board of Two Birds One Stone, an organization which distributed leftover dining hall food to local homeless shelters. There she introduced means of measuring impact, streamlined deliveries and fostered relationships within the industry. Inspired by the club’s impact, Ms. Chen entered and won seed funding in a social entrepreneurship competition at NYU with Mr. Lee and together launched Rescuing Leftover Cuisine as a non-profit organization upon graduation. </p>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>

    <div class="box">
      <div class="row">
        <div class="col-sm-12">
          <div href="#" class="thumbnail">
            <div class="row">
              <div class="col-sm-2">
                <div class>
                  <%= image_tag 'Paul.png' %>
                </div class>
              </div>
              <div class="col-sm-10">
                <div class="member-name"> <strong>PAUL SUN</strong> </div>
                <div class="member-title"> Chief Financial Officer </div>
                <hr/>
                <p> Paul Sun is a finance professional with experience in private equity and investment banking advisory across a broad range of industries. Currently, Mr. Sun is a private equity associate focusing on leveraged buyouts in the manufacturing, services and specialty consumer industries. Prior to that, Mr. Sun was an investment banking analyst in which he focused on advisory work and financing solutions for leveraged buyouts, mergers and acquisitions, recapitalizations and debt financings in the consumer, healthcare, energy and technology sectors. Mr. Sun was elected to Beta Gamma Sigma and received a B.S., magna cum laude, in Finance and Accounting from the Leonard N. Stern School of Business at New York University. </p>
              </div>
            </div>
          </div>
        </div>
     
      </div>
    </div>

  </div>
  
</div>