
<div id="static-text-wrapper">
  <div class="row">
    <div class="col-sm-6">
      <h1>Become a Rescuer Today</h1>
      <br>

      <p>Rescuers help bring food from our partners to a local NYC homeless shelter. It takes less than an hour and you can set your own schedule, whether you want to help out daily, weekly, or sporadically.
      </p>
      <br>

      <p>
      2 BILLION PEOPLE could be fed yearly with the amount of food America throws away each year – that is enough to end food hunger in the world. Be a part of the solution and join us and other rescuers to help deliver excess food to those who need it.
      </p>
      <br>

      <p>
        <h3>How Do I Become a Rescuer for RLC?</h3>
        <br>
        All you have to do is click the link blow: 
      </p>
      <br>

      <p>
        <p><%= link_to "Sign Up with RLC", new_user_registration_path , class: "rlc-button contribute-button btn btn-success text-center", style: "width: 100%;" %></p>
      </p>
    </div>
    <div class="col-sm-6">
      <%= image_tag "volunteer.jpg", class: "pull-right", style: "width: 400px; margin-top: 100px;" %>
    </div>
  </div>
  <div class="row">
  </div>
</div>