<p>Dear <%= @user.full_name %>,</p>
<br/>
<p>Your registration for the following event has been cancelled: </p>
<br/>
<%= render partial: 'event', locals: { event: @event } %>
<br/>
<p>Please do not hesitate to respond to this email with questions, comments, and feedback. </p>

<p>You are receiving this email because you cancelled this event. Thank you!</p>
<br/>
<p>RLC Team</p>
 