<p>Dear <%= @user.full_name %>,</p>
<br/>
<p>Thank you for leading the event! </p>
<p><strong>Please be sure that you upload the number of pounds, pictures of the receipt and volunteers onto the online calendar.</strong> This information is necessary for us to measure our success, and we really appreciate your help in doing this!</p>
<p>Thank you again for your help in educating, leading, and being responsible for the group of rescuers. Please do not hesitate to respond to this email with questions, comments, and feedback. </p>
<br/>
<p>RLC Team</p>