<p>Dear <%= @user.full_name %>,</p>
<br/>
<p>Thank you so much for your help in Rescuing Leftover Cuisine today! </p>
<p>The food you rescued would have been thrown out, but instead, thanks to your help, it went to feeding hungry people. We could not have done it without your help.</p>
<p>If you are interested in continuing to help prevent food waste and feeding the hungry, please register to attend more events <%= link_to 'here', calendar_url %> on our website.  Thank you!</p>
<br/>
<p>RLC Team</p>