<p>Dear <%= @user.full_name %>,</p>
<br/>
<p>The following event that you waitlisted for has now opened: </p>
<br/>
<%= render partial: 'event', locals: { event: @event } %>
<br/>

<p> To be taken off the waitlist, please follow this link: </p>
<p><%= link_to 'attend event', event_url(@event) %></p>
<p> You must click through the link to register for the event. Afterwards, you will receive a confirmation email. </p>
<%= render 'ending_paragraph' %>
<br/>
<hr/>
<br/>
<small>
You are receiving this email because you waitlisted for this event. Thank you!  
</small>

