// Place all the styles related to the admin controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#admin_index_page{
  input{
    max-width: 300px;
  }
  input[type="submit"]{
    margin-top: 5px;
  }

}

.show_pounds_table{
  .list-group{
    width: 150px;

    span.date{
      padding-right: 10px;
    }
  }
}