/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrapValidator.min
 *= require jquery-ui/autocomplete
 *= require jquery-tablesorter/theme.bootstrap_2
 *= require_tree
 */

$static-text-color: #09C; /* Orange */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

.bgeffect{
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.noeffect{
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -ms-transition: all 0 ease;
  -o-transition: all 0 ease;
  transition: all 0 ease;
}
.effect{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

$yellowbg: #f4efab;
$greenbg: #009688;
$bluebg: #5884c3;
$redbg: #f06292;
$orangebg: #ffc43c;

body{
  font-size: 100%;
  font-family: Arial, sans-serif;
}
a{
  color: blue;
  &:hover,
  &:active,
  &:focus{
    color: #000;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
.clear{
  display: block;
  content: '';
  clear: both;
}

.button{
  display: inline-block;
  border: 1px solid #d5a244;
  border-radius: 3px;
  color: #d5a244;
  padding: 5px 30px;
  &:hover{
    color: #d08e14;
    border-color: #d08e14;
    background-color: #fcf5eb;
  }
}
.mobile-show{
  display: none!important;
}
.mobile-hidden{
  display: block!important;
}

/*--------------------- SECTIONS ---------------------*/
.main-section {
  display: table;
  width: 100%;
  font-size: 1.4em;
  border-bottom: 1px solid #000;
  .left {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    .inner-container {
      float: right;
    }
  }
  .right {
    text-align: left;
    overflow: hidden;
    .inner-container {
      float: left;
    }
  }
  .inner-container {
    width: 585px;
    padding: 20px;
    // background-color: rgba(0,0,0,0.1);
  }
}
/*--------------------- HEADER ---------------------*/
.main-header {
  overflow: hidden;
  .logo {
    float: left;
    padding: 20px 0;
    img{
      width: 50px;
      margin-right: 10px;
      height: auto;
    }
    a{
      font-size: 1.8em;
      color: #000;
    }
  }
  .top{
    text-align: right;
    font-size: 1.2em;
    padding: 10px 20px;
    padding-right: 0;
    a{
      color: #555;
      &:hover,
      &:focus,
      &:active{
        color: #1c2e5a;
      }
    }
  }
}
.navbar-header2{
  display: none;
}
/*--------------------- MAIN-NAVIGATION ---------------------*/
.main-navigation {
  margin-top: 25px;
  margin-right: -15px!important;
  float: right;
}
.main-navigation>.nav {
  &>li{
    display: inline-block;
    padding-left: 1px;
    &>a{
      background-color: rgba(104,174,195,0.5);
      padding: 2px 15px;
      font-size: 1.2em;
      color: #fff;
      &:hover,
      &:focus,
      &:active {
        background-color: #68aec3;
        color: #fff;
      }
    }
    &.active a {
      background-color: #68aec3;
    }
  }
}
/*--------------------- RED ---------------------*/
.red {
  .left {
    background-color: $redbg;
    color: #fff;
  }
  .right {
    
  }
}
.yellow {
  .left {
    background-color: $yellowbg;
    color: #2e2e2e;
  }
  .right {
    
  }
}
.blue {
  .left {
    background-color: $bluebg;
    color: #fff;
  }
  .right {
    
  }
}
.orange {
  .left {
    background-color: $orangebg;
    color: #fff;
  }
  .right {
    
  }
}
.green {
  .left {
    background-color: $greenbg;
    color: #fff;
  }
  .right {
    
  }
}
.navbar-header {
  .icon-bar{
    background-color: #ccc;
  }
}
/*---------------------  ---------------------*/
.announcement {
  background-color: #f1f2f2;
  padding: 1px 0;
  font-size: 1.2em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  .container{
    position: relative;
  }
  .close{
    position: absolute;
    right: 15px;
    top: 4px;
    font-size: 1.4em;
    color: #111;
  }
  p{
    margin: 5px 0;
  }
}
/*--------------------- JUMBO ---------------------*/
.jumbo {
  padding-top: 1px;
  background-image: url(homepage-image.jpg);
  background-size: cover;
  .inner {
    margin-top: 200px;
    background-color: rgba(255,255,255,0.7);
    .table-wrapper{
      display: table;
      width: 100%;
    }
    .img,.text{
      vertical-align: middle;
    }
    .img{
      display: table-cell;
      width: 270px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
      img{
        max-width: 220px;
      }
    }
    .text{
      display: table-cell;
      width: 100%;
    }
    h1{
      font-size: 2.5em;
      color: #d5512b;
      font-weight: bold;
    }
    p{
      font-size: 1.4em;
    }
  }
}
.section2{
  margin-top: 30px;
  &>div{
    margin-bottom: 15px;
  }
  h3{
    font-size: 1.4em;
    margin: 5px 0 2px 0;
  }
}
.orange-line{
  border-top: 20px solid #f8a725;
}
.green-line{
  border-top: 20px solid #a0d698;
}
.member{
  margin-bottom: 20px;
}
.navbar-toggle{
  margin-right: 0 !important;
}
.back-to-top{
  width: 50px;
  height: 50px;
  display: block;
  border-radius: 50%;
  background-color: $bluebg;
  text-align: center;
  font-size: 2em;
  color: #fff;
  line-height: 50px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  box-shadow: 0 2px 4px 1px rgba(0,0,0,0.2);
  &:focus,&:active{
    color: #fff;
  }
}
html{
  position: relative;
}
/*--------------------- FOOTER ---------------------*/
footer {
  font-family: 'Proxima';
  padding: 30px 50px 30px 50px;
  background: black url(/assets/footer_background.png);
  color: #FFF;
}
/* line 53, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer .left-block {
  padding: 20px;
}
/* line 56, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer .left-block ol {
  margin-top: 20px;
  font-size: 20px;
  font-style: italic;
  font-family: Georgia, Times, serif;
  font-size: 20px;
  color: #bfe1f1;
  vertical-align: middle;
}
/* line 64, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer .left-block ol a {
  color: white;
  font-size: 16px;
  border-left: 1px solid #eee;
  padding: 8px;
}
/* line 74, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer #copyright {
  padding: 20px;
  margin-top: 20px;
}
/* line 78, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer #copyright #mc_embed_signup_footer label {
  display: block;
  font-size: 16px;
  padding-bottom: 10px;
  font-weight: bold;
}
/* line 84, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer #copyright #mc_embed_signup_footer .form-group {
  margin-left: 0;
}
/* line 88, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer #copyright #mc_embed_signup_footer input.email {
  max-width: 300px;
  margin-bottom: 0;
}
/* line 93, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer #copyright #mc_embed_signup_footer input#mc-embedded-subscribe {
  width: 165px;
  font-weight: bold;
  font-size: 18px;
  background: #C3C3C3;
  color: white;
}
/* line 94, /Users/marunbai/Documents/volunteer/app/assets/stylesheets/application.css.scss */
footer #copyright #mc_embed_signup_footer input#mc-embedded-subscribe:hover {
  background: #6ccd8f;
}
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------- SMALL DESKTOP ----------------*/
@media (max-width: 1199px){
  .main-section {
    .inner-container {
      width: 445px;
    }
  }
}
/*---------------- TABLET & DESKTOP ONLY ----------------*/
@media (min-width: 768px) {
}
/*---------------- DESKTOP ONLY ----------------*/
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
/*---------------- TABLET & MOBILE ----------------*/
@media (max-width: 991px) {
  .main-section {
    .inner-container {
      width: 335px;
    }
  }
}
/*---------------- TABLET ----------------*/
@media (min-width: 768px) and (max-width: 992px) {
}
/*---------------- MOBILE ----------------*/
@media (max-width: 767px) {
  .main-section {
    display: block;
    .left, .right {
      display: block;
    }
    .left{
      padding-bottom: 0;
    }
    .right .inner-container{
      padding-top: 0;
    }
    .inner-container {
      width: 100%;
    }
  }
  .red .right{
    background-color: $redbg;
    color: #fff;
  }
  .yellow .right{
    background-color: $yellowbg;
    color: #2e2e2e;
  }
  .blue .right{
    background-color: $bluebg;
    color: #fff;
  }
  .orange .right{
    background-color: $orangebg;
    color: #fff;
  }
  .green .right{
    background-color: $greenbg;
    color: #fff;
  }
}
/*---------------- SMALL MOBILE ----------------*/
@media (max-width: 600px) {
}
/*---------------- SMALL MOBILE ----------------*/
@media (max-width: 480px) {
}


/*----------------  MAIN NAVIGATION ----------------*/
@media (min-width: 680px) and (max-width: 991px) {
}
@media (min-width: 901px) {
  .main-navigation{
    &>.nav{
      &>li{
        &.donate{
          a{
            background: none;
            color: #68aec3;
            position: relative;
            padding-left: 30px;
            i{
              font-size: 1.8em;
              position: absolute;
              left: 5px;
              top: 0;
            }
          }
        }
        &>a{
          &:hover,
          &:focus,
          &:active{

          }
        }
      }
    }
  }
}
// @media (min-width: 768px) and (max-width: 1000px) {
//   .navbar-collapse.collapse {
//     display: none;
//   }
//   .navbar-header {
//     float: none;
//   }
//   .navbar-toggle {
//     display: block;
//   }
// }

@media (max-width: 991px) {
  .navbar-header {
      float: none;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin: 7.5px -15px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .navbar-text {
      float: none;
      margin: 15px 0;
  }
  /* since 3.1.0 */
  .navbar-collapse.collapse.in { 
      display: block!important;
  }
  .collapsing {
      overflow: hidden!important;
  }

  .main-navigation {
    margin-top: 0;
    margin-right: 0 !important;
  }
  
  .navbar-nav{
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .main-header{
    background-color: #68aec3;
    .logo{
      padding-top: 10px;
      padding-bottom: 10px;
      a,a:hover,a:focus,a:active{
        color: #fff;
      }
    }
    .top{
      display: none;
    }
  }
  
  .navbar-header .icon-bar{
    background-color: #fff;
    margin-right: 15px !important;
    margin-top: 8px;
  }
  
  .main-navigation{
    float: none;
    &>.nav{
      .mobile-show{
        display: block;
      }
      &>li{
        display: block;
        &.donate{
          a{
            color: #fff;
            padding-left: 15px;
            i{
              font-size: 1.2em;
              position: static;
              margin-right: 3px;
            }
          }
        }
        &>a{
          padding-top: 10px;
          padding-bottom: 10px;
          font-size: 1.4em;
          &:hover,
          &:focus,
          &:active{
            background-color: rgba(255,255,255,0.3);
          }
        }
      }
    }
  }

  .jumbo .inner{
    .img{
      display: none;
    }
    .text{
      display: block;
    }
  }

}


