/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrapValidator.min
 *= require jquery-ui/autocomplete
 *= require jquery-tablesorter/theme.bootstrap_2
 *= require_tree
 */

$static-text-color: #09C; /* Orange */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

.bgeffect{
  -webkit-transition: background 0.3s ease;
  -moz-transition: background 0.3s ease;
  -ms-transition: background 0.3s ease;
  -o-transition: background 0.3s ease;
  transition: background 0.3s ease;
}
.noeffect{
  -webkit-transition: all 0 ease;
  -moz-transition: all 0 ease;
  -ms-transition: all 0 ease;
  -o-transition: all 0 ease;
  transition: all 0 ease;
}
.effect{
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

$yellowbg: #f4efab;
$greenbg: #009688;
$bluebg: #5884c3;
$redbg: #f06292;
$orangebg: #ffc43c;

body{
  font-size: 100%;
  font-family: Arial, sans-serif;
}
a{
  color: blue;
  &:hover,
  &:active,
  &:focus{
    color: #000;
    text-decoration: none;
  }
}
h1,h2,h3,h4,h5,h6{
  font-weight: bold;
}
.clear{
  display: block;
  content: '';
  clear: both;
}

.button{
  display: inline-block;
  border: 1px solid #d5a244;
  border-radius: 3px;
  color: #d5a244;
  padding: 5px 30px;
  &:hover{
    color: #d08e14;
    border-color: #d08e14;
    background-color: #fcf5eb;
  }
}
.mobile-show{
  display: none!important;
}
.mobile-hidden{
  display: block!important;
}

/*--------------------- SECTIONS ---------------------*/
.main-section {
  display: table;
  width: 100%;
  font-size: 1.4em;
  border-bottom: 1px solid #000;
  .left {
    display: table-cell;
    vertical-align: top;
    overflow: hidden;
    .inner-container {
      float: right;
    }
  }
  .right {
    text-align: left;
    overflow: hidden;
    .inner-container {
      float: left;
    }
  }
  .inner-container {
    width: 585px;
    padding: 20px;
    // background-color: rgba(0,0,0,0.1);
  }
}
/*--------------------- HEADER ---------------------*/
.main-header {
  overflow: hidden;
  .logo {
    float: left;
    padding: 20px;
    padding-left: 0;
    img{
      width: 50px;
      margin-right: 10px;
      height: auto;
    }
    a{
      font-size: 1.8em;
      color: #000;
    }
  }
  .top{
    text-align: right;
    font-size: 1.2em;
    padding: 10px 20px;
    padding-right: 0;
    a{
      color: #555;
      &:hover,
      &:focus,
      &:active{
        color: #1c2e5a;
      }
    }
  }
}
.navbar-header2{
  display: none;
}
/*--------------------- MAIN-NAVIGATION ---------------------*/
.main-navigation {
  margin-top: 25px;
  float: right;
}
.main-navigation>.nav {
  &>li{
    display: inline-block;
    padding-left: 1px;
    &>a{
      background-color: rgba(104,174,195,0.5);
      padding: 2px 15px;
      font-size: 1.2em;
      color: #fff;
      &:hover,
      &:focus,
      &:active {
        background-color: #68aec3;
        color: #fff;
      }
    }
    &.active a {
      background-color: #68aec3;
    }
  }
}
/*--------------------- RED ---------------------*/
.red {
  .left {
    background-color: $redbg;
    color: #fff;
  }
  .right {
    
  }
}
.yellow {
  .left {
    background-color: $yellowbg;
    color: #2e2e2e;
  }
  .right {
    
  }
}
.blue {
  .left {
    background-color: $bluebg;
    color: #fff;
  }
  .right {
    
  }
}
.orange {
  .left {
    background-color: $orangebg;
    color: #fff;
  }
  .right {
    
  }
}
.green {
  .left {
    background-color: $greenbg;
    color: #fff;
  }
  .right {
    
  }
}
.navbar-header {
  .icon-bar{
    background-color: #ccc;
  }
}
/*---------------------  ---------------------*/
.announcement {
  background-color: #f1f2f2;
  padding: 1px 20px;
  font-size: 1.2em;
  box-shadow: 0 1px 3px 0 rgba(0,0,0,0.4);
  .container{
    position: relative;
  }
  .close{
    position: absolute;
    right: 15px;
    top: 4px;
    font-size: 1.4em;
    color: #111;
  }
  p{
    margin: 5px 0;
  }
}
/*--------------------- JUMBO ---------------------*/
.jumbo {
  padding-top: 1px;
  background-image: url(homepage-image.jpg);
  background-size: cover;
  .inner {
    margin-top: 200px;
    background-color: rgba(255,255,255,0.6);
    .table-wrapper{
      display: table;
      width: 100%;
    }
    .img,.text{
      vertical-align: middle;
    }
    .img{
      display: table-cell;
      width: 270px;
      padding-right: 50px;
      padding-top: 30px;
      padding-bottom: 30px;
      img{
        max-width: 220px;
      }
    }
    .text{
      display: table-cell;
      width: 100%;
    }
    h1{
      font-size: 2.5em;
      color: #d5512b;
      font-weight: bold;
    }
    p{
      font-size: 1.4em;
    }
  }
}
.section2{
  margin-top: 30px;
  h3{
    font-size: 1.4em;
    margin: 5px 0 2px 0;
  }
}
.orange-line{
  border-top: 20px solid #f8a725;
}
.green-line{
  border-top: 20px solid #a0d698;
}
.member{
  margin-bottom: 20px;
}
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------------  ---------------------*/
/*---------------- SMALL DESKTOP ----------------*/
@media (max-width: 1199px){
  .main-section {
    .inner-container {
      width: 445px;
    }
  }
}
/*---------------- TABLET & DESKTOP ONLY ----------------*/
@media (min-width: 768px) {
}
/*---------------- DESKTOP ONLY ----------------*/
@media (min-width: 992px) {
}
@media (min-width: 1200px) {
}
/*---------------- TABLET & MOBILE ----------------*/
@media (max-width: 991px) {
  .main-section {
    .inner-container {
      width: 335px;
    }
  }
}
/*---------------- TABLET ----------------*/
@media (min-width: 768px) and (max-width: 992px) {
}
/*---------------- MOBILE ----------------*/
@media (max-width: 767px) {
  .main-section {
    display: block;
    .left, .right {
      display: block;
    }
    .right{
      padding-top: 0;
    }
    .inner-container {
      width: 100%;
    }
  }
  .red .right{
    background-color: $redbg;
    color: #fff;
  }
  .yellow .right{
    background-color: $yellowbg;
    color: #2e2e2e;
  }
  .blue .right{
    background-color: $bluebg;
    color: #fff;
  }
  .orange .right{
    background-color: $orangebg;
    color: #fff;
  }
  .green .right{
    background-color: $greenbg;
    color: #fff;
  }
}
/*---------------- SMALL MOBILE ----------------*/
@media (max-width: 600px) {
}
/*---------------- SMALL MOBILE ----------------*/
@media (max-width: 480px) {
}


/*----------------  MAIN NAVIGATION ----------------*/
@media (min-width: 680px) and (max-width: 991px) {
}
@media (min-width: 901px) {
  .main-navigation{
    &>.nav{
      &>li{
        &.donate{
          a{
            background: none;
            color: #68aec3;
            position: relative;
            padding-left: 30px;
            i{
              font-size: 1.8em;
              position: absolute;
              left: 5px;
              top: 0;
            }
          }
        }
        &>a{
          &:hover,
          &:focus,
          &:active{

          }
        }
      }
    }
  }
}
@media (max-width: 900px) {
  .main-navigation{
    display: none;
  }
  .main-navigation{
    margin-top: 0;
    float: none;
    &>.nav{
      &>li{
        &>a{
          &:hover,
          &:focus,
          &:active{

          }
        }
      }
    }
    .mobile-show{
      display: block !important;
    }
  }
}
@media (min-width: 768px) and (max-width: 1000px) {
  .navbar-collapse.collapse {
    display: none;
  }
  .navbar-header {
    float: none;
  }
  .navbar-toggle {
    display: block;
  }
}




