/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 *= require bootstrapValidator.min
 *= require_tree
 */

$static-text-color: #09C; /* Orange */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "bootstrap-datetimepicker";

html, body{
  height: 100%;
}

body {
  padding-top: 20px;
  padding-bottom: 20px;
}

footer{
  margin-top: 100px;
  font-family: 'Proxima';
  padding: 30px 50px 30px 50px;
  background: #000 image-url("footer_background.png");
  color: #FFF;
  .left-block{
    padding: 20px;

    ol{
      margin-top: 20px;
      font-size: 20px;
      font-style: italic;
      font-family: Georgia, Times, serif;
      font-size: 20px;
      color: #bfe1f1;
      vertical-align: middle;
      a{
        color: white;
        font-size: 16px;
        border-left: 1px solid #eee;
        padding: 8px;
      }
    }

  }

  #copyright{
    padding: 20px;
    margin-top: 20px;
    #mc_embed_signup_footer{
      label{
        display: block;
        font-size: 16px;
        padding-bottom: 10px;
        font-weight: bold;
      }
      .form-group{
        margin-left: 0;
      }

      input.email{
        max-width: 300px;
        margin-bottom: 0;
      }

      input#mc-embedded-subscribe {
        &:hover{
          background: #6ccd8f;
        }
        width: 165px;
        font-weight: bold;
        font-size: 18px;
        background: #C3C3C3;
        color: white;
      }
    }
  }
}

// nav bar
#menu{
  margin-bottom: 60px;
}

.sign_in_wrapper{
  margin-top: 20px;
}

.register-notice{
  margin-right: 24px;
}

.word-crop{
  overflow: hidden;
  white-space: nowrap; /* Don't forget this one */
  text-overflow: ellipsis;
}

.popover {
  max-width: 700px;
  width: auto;
}

// static page text wrapper
#static-text-wrapper {
  font-family: 'Proxima';

  padding: 0 20px 50px 20px;
  line-height: 1.5;
  font-size: 20px;

  .color-text{
    color: $static-text-color;
  }

  .rlc-button{
    padding: 10px 40px;
  }

  //home page
  #mission{
    border-bottom: solid 1px #CCC;
    border-top: solid 1px #CCC;
    font-size: 24px;
    padding: 80px 20px 60px 20px;
    margin: 60px;
  }

  #home-page-left-column{
    padding: 20px;
    border: solid 1px #CCC;
    margin-top: 20px 10px 0 0;
    box-shadow: 2px 5px 20px #888;
    img{
      width: 600px;
    }
  }

  .home-page-right-block{
    padding: 20px;
    margin-bottom: 20px;
    position: relative;
    .textover {
      z-index: 100;
      position: absolute;
      color: #FFF;
      font-size: 18px;
      left: 30px;
      top: 180px;
      padding: 5px 20px;
      background-color: #333;
    }
    img{
      opacity: 0.8;
      box-shadow: 2px 5px 20px #888;
      width: 368px;
      &:hover{
        opacity: 1.0;
      }
    }
  }

  .box-wrapper{
    margin-top: 50px;
  }

  .box {
    background-image: image-url("background_grid_noise.png");
    .member-title{
      color: $static-text-color;
    }
    &:nth-child(n+1){
      margin-top: 30px;
    }
    .thumbnail{
      padding: 20px;
      background-image: image-url("background_grid_noise.png");
    }
  }

  //Contributor page
  .contributor-box, .donate-funds-box{
    min-height: 300px;
    padding: 0 20px 20px 20px;
  }

  .contributor-box{
    .contributor-logo{
      height: 133px;
      img{
        margin-top: 32px;
      }
    }
    .google-logo{
      margin-left: 15px;
    }
  }

  //Donate Funds page
  .donate-funds-title{
     height: 100px;
     padding: 40px 0;
  }
  .donate-funds-description{
    font-size: 16px;
  }

  //donate Food page
  #become-member-button{
    padding: 10px 40px;
    margin-bottom: 20px;
  }
  .donate-food-text-block{
    padding: 20px;
    ul{
      font-size: 18px;
      li{ 
        margin-bottom: 10px;
      }
    }
  }

  //about page
  #about-box{
    padding: 10px;
  }

  //challenge page
  .challenge-map{
    width: 500px;
    margin: auto;
  }
  #challenge-upset-block{
    margin-top: 30px;
    border: 2px solid #999;
    .description{
      padding: 80px 60px;
    }
  }
  #challenge-button-block{
    margin-top: 30px;
    .issue{
      color: #FF6262;
    }
    .action{
      color: #59c780;
    }
  }

  //contribute page
  .contribute-button{
    font-size: 20px;
  }
  

}







