// Place all the styles related to the comments controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-block{
  margin-top: 50px;
  .media{
    border-top: 1px solid #eee;
    padding: 18px 0 0;
    font-size: 15px;
    .username{
      color: #428bca;
    }
    .comment-body{
      color: #545454
    }
  }
}

.comment-remove-icon{
  cursor: pointer;
  padding: 10px;
  &:hover{
    border: 1px solid #eee;
    border-radius: 5px;
  }
}

#loadmore_comment{
  padding: 2%;
  background: #eee;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}
