// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar-wrapper {
  .calendar {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;

    td, th {
      font-family: "Lucida Grande", arial, helvetica, sans-serif;
      font-size: 10px;
      padding: 6px;
      border: 1px solid #e1e1e1;
    }

    th {
      border:none;
      color: #666;
      text-align: center;
      width: 14.2857142857143%;
      font-size: 14px;
      padding: 10px;
    }

    td {
      background: #FFF;
      color: #777;
      height: 110px;
      vertical-align: top;
      font-size: 16px;
    }

    .notmonth, .notmonth a { color: #CCC; }
    .today { background-color: #D7F2FF; }
  }
}

#calendar-wrapper #month {
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#calendar-wrapper ul {
  font-size: 13px;
  padding-left: 5px;
}

.event-block{
  
  h1{
    color: #5bc0de;
    margin-bottom: 40px;
    margin-top: 0px;
  }
  #event-content{
    margin-bottom: 40px;
    li{
      padding-top: 5px;
      font-size: 17px;
      div{
        font-size: 16px;
      }
    }
    .event-description{
      width: 60%;
      vertical-align: text-top;
    }

  }
  padding: 20px;
}

#event-content{
  li{
    label{
      margin-right: 20px;
    }
    div{
      display: inline-block;
    }
  }
}

.event-list{
  li{
    width: 100px;
    padding: 5px 0px;
  }
  .event-time{
    font-size: 9px;
  }
} 

#attend_recurring, #stop_attend_recurring{
  margin-right: 15px;
}


#comment_text{
  max-width: 400px;
}

// event show page
#event_user_list{
  padding: 20px;
  .media{
    padding: 10px;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
    margin-top: 0;
    &:first-child{
      border-top: 2px solid #eee;
    }
    &:last-child{
      border-bottom: 2px solid #eee;
    }
  }
}
.button-groups{
  a{
    margin-right: 4px;
  }
}