// Place all the styles related to the Events controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#calendar-wrapper .calendar {
  border-collapse: collapse;
  width: 100%;
  margin: 20px 0;

  td, th {
    font-family: "Lucida Grande", arial, helvetica, sans-serif;
    font-size: 10px;
    padding: 6px;
    border: 1px solid #e1e1e1;
  }

  th {
    border:none;
    color: #666;
    text-align: center;
    width: 14.2857142857143%;
    font-size: 14px;
    padding: 10px;
  }

  td {
    background: #FFF;
    color: #777;
    height: 110px;
    vertical-align: top;
    font-size: 16px;
  }

  .notmonth, .notmonth a { color: #CCC; }
  .today { background-color: #D7F2FF; }
}

#calendar-wrapper #month {
  a {
    text-decoration: none;
    padding: 0 10px;
    color: #999;
  }
}

#calendar-wrapper ul {
  font-size: 13px;
  padding-left: 5px;
}

#event-block{
  h1{
    color: #5bc0de;
    margin-bottom: 20px;
  }
}

#event-content{
  li{
    label{
      margin-right: 20px;
    }
    div{
      display: inline-block;
    }
  }
}

.event-list{
  li{
    width: 100px;
    padding: 5px 0px;
  }
  .event-time{
    font-size: 9px;
  }
} 
